name: xuan9build

on:
  push:
    paths:
      - '**/*.cpp'
      - '**/*.h'
      - '**/*.vcxproj'
  pull_request:
    paths:
      - '**/*.cpp'
      - '**/*.h'
      - '**/*.vcxproj'

jobs:
  build:
    runs-on: windows-latest

    steps:
      # 拉取代码
      - name: Checkout repository
        uses: actions/checkout@v4

      # 安装并加入 MSBuild
      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v2

      # 构建工程
      - name: Build with MSBuild
        run: |
          msbuild FreeMove_Square.vcxproj /p:Configuration=Release /p:Platform=x64 /m

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: FreeMove_Square-Build
          path: FreeMove_Square\x64\Release\FreeMove_Square.exe
